body {
  background-color: rgb(118, 234, 155);
  margin: 0; /* Reset default margin */
  width: 100%;
}

#cards {
  display: grid;
  justify-content: center;
  grid-gap: 10px;
  grid-template-rows: repeat(3, 210px);
  grid-template-columns: repeat(4, 140px); /* Adjust columns for mobile and tablet */
  padding: 20px; /* Add some padding for better spacing on small screens */
}

/* Media queries for mobile devices */
@media (max-width: 768px) {
  #cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1485px) and (max-width: 2500px) {
  #cards {
    grid-template-columns: repeat(10, 1fr);
  }
}

@media (min-width: 900px) and (max-width: 1485px) {
  #cards {
    grid-template-columns: repeat(6, 1fr);
  }
}

/* Media queries for iPad (horizontal) */
@media (min-width: 768px) and (max-width: 1180px) {
  #cards {
    grid-template-columns: repeat(5, 1fr);
  }
}

/* Media queries for iPad (vertical) */
@media (min-width: 768px) and (max-width: 820px) {
  #cards {
    grid-template-rows: repeat(5, 210px);
  }
}




  .card {
    height: 210px;
    width: 140px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.5s ease-in-out;
  }

  .card:hover{
    width: 130px;
    background-color: rgb(43, 29, 94);
    }

  .front-image{
    width: 120px;
    height: 120px;
  }

  .card.flipped{
    transform: rotateY(180deg)
  }

  .front, .back{
    backface-visibility: hidden;
    position: absolute;
    border-radius: 10px;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  .card .front{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg)
  }

  .card .back{
    background-image: url("cardBG.png");
    background-position: center center; 
    background-size: cover;
    backface-visibility: hidden;
  }

  h1{
    color: rgb(35, 35, 58);
  }
